//COLORS FOR NOW... GOTTA REFINE THESE LATER
//PRIMARY
$main-orange: #B44B29; 
$off-black: #191512;
$orange-cream: #E5AA6C; 
$off-white: #f8f4f4;

//SECONDARY
$light-orange: #EAA83D;
$mid-orange: #C96028;
$wow-brown: #3C291C;
$lighter-black: #221c18;