@use '../../styles/colors' as *;

.card {
    position: relative;

    width: 90%;
    height: 70vh;
    margin: 0 auto;

    border-radius: 1.25rem;

    background-color: $lighter-black;

    overflow-y: auto;
}