@use '../../styles/colors' as *;

.card {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;

    width: 50%;
    height: 70vh;
    margin: 5rem auto;

    border-radius: 1.25rem;

    background-color: $light-orange;

    overflow-y: auto;
}