@use '../../styles/colors' as *;
@use '../../styles/media-queries' as *;

.player-button {
    padding: 5rem;
    border-radius: 1.25rem;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
.page-wrapper {
    @include tablet {
        display: flex;
    }
}
.spotify__wrapper {
    @include tablet {
        order: 2;
        width: 55%;
    }
}
.tracks {
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .25rem;
        width: 100%;
        @include tablet {
            order: 1;
            width: 45%;
        }
    }
    &__individual {
        font-size: 1.25rem;
        min-width: 40%;
        padding: 1.25rem;
        border-radius: 1.25rem;
        border: .0625rem solid $wow-brown;
        &:nth-child(odd) {
            border: .125rem solid $off-black;
            background-color: $wow-brown;
            color: $off-white;
        }
        &:nth-child(even) {
            border: .125rem solid $off-black;
            background-color: $light-orange;
            color: $off-black;
        }
        @include tablet {
            min-width: 100%;
        }
    }
}